body 
{
margin:0;
background-image:url("/image/background-wall.jpg");
background-attachment:fixed;
background-repeat:no-repeat;
background-position:middle;
}
.textbox
{
border-radius:5px;
}
.textbox:focus
{
background-color:lightblue;
}

.logintable{
margin:90px 490px ;
padding:20px 50px 40px 50px;
border-style:solid;
border-width:1px;
text-align:center;
}

.loginbutton
{
	background-color:skyblue;
	width:90px;
	height:30px;
	
	border-radius:10px;
	margin:1px 70px 2px 70px;
padding-top:2px;	
	font-size:15px;	
}
.updatetable
{
margin:30px 400px ;
padding:0px 50px 20px 50px;
border-style:solid;
border-width:1px;
}
.deletetable{
margin:30px 400px ;
width:300px;
padding:0px 0px 20px 50px;
border-style:solid;
border-width:1px;
}
.deletebutton{

}
.loginbutton:hover{
background-color:lightblue;
color:black;

}
.link
{
font-size:17px;
text-decoration:none;
color:darkblue;
}
.link:hover,.line:active
{
color:red;
text-decoration:underline;
color:red;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0 350px 0 350px;
    overflow: hidden;
   background-color:grey;
    position: fixed;
    top: 0;
    width: 100%;
	
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-size:19px;
}

li a:hover{
    background-color:lightgrey;
color:black;
}

li a:active {
    background-color: skyblue;
}
